/* CSS Document */
/*Home Navigation */
#navbar_Home ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 210px;
	border-bottom: 1px solid #628f13;
	
	}
	
#navbar_Home ul li {
	position: relative;
	
	}
	
#navbar_Home li ul {
	position: absolute;
	right: 210px;
	top: 0;
	display: none;
	}
	
#navbar_Home ul li a {
	display: block;
	text-decoration: none;
	color: #dfce3b;
	background: #628f13;
	padding: 5px 5px  5px 15px;
	border-top: 1px dotted #4f740e;
	border-bottom: 1px dotted #4f740e;
	font-size:14px;
	
	}
	
#navbar_Home ul li a:hover	{ color:#ffffff;
}
	
#navbar li:hover ul { display: block; }
	

	

 #navbar_Home li:hover ul, li.over ul { 
	display: block; }


/*Internal Navigation */
#navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 210px;
	border-bottom: 1px solid #628f13;
	}
	
#navbar ul li {
	position: relative;
	}
	
#navbar li ul {
	position: absolute;
	right: 220px;
	top: 0;
	display: none;
	}
	
#navbar ul li a {
	display: block;
	text-decoration: none;
	color: #dfce3b;
	background: #628f13;
	padding: 5px 5px  5px 15px;
	border-top: 1px dotted #4f740e;
	border-bottom: 1px dotted #4f740e;
	font-size:14px;
	
	}
	
#navbar ul li a:hover	{ color:#ffffff;
}
	
#navbar li:hover ul { display: block; }
	
	/* Fix IE. Hide from IE Mac \*/
* html ul li { float: left; }
* html ul li a { height: 1%; }
/* End */
	

 #navbar li:hover ul, li.over ul { 
	display: block; }
